@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
}
html {
  scroll-behavior: smooth;
}

:root {
  --min-color: #ffffff;
  --hover-text: #2be0f7;
  --hover-contt: #2293aa;
  --transition: 0.4s;
  --gradient-1: #02162d;
  --gradient-2: #36e0f7;
  --icon: #03263e;
  --padding: 100px 0;
  --max-color: #262626;
  --p-color: #787878;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {
  padding: 40px 0;
  height: 140px;
  z-index: 5;
  position: relative;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container ul {
  display: flex;
  list-style: none;
  align-items: center;
}
header .container ul li {
  margin: 0 15px;
}
header .container ul a {
  font-size: 20px;
  display: block;
  text-decoration: none;
  color: var(--min-color);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
header .container ul a:hover ,
header .container ul .activ {
  color: var(--hover-text);
}


header .container ul li.soh {
  position: relative;
}
header .container ul .soh1::after {
  position: absolute;
  content: "";
  border: 4px solid;
  border-color: var(--min-color) transparent transparent transparent;
  top: 7px;
  right: -15px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
header .container ul .soh1:hover:after {
  border-top-color: var(--hover-text);
}

header .container ul .btn,
.btn {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 4px 2px 4px 40px;
  background-image: linear-gradient(
    to right,
    var(--gradient-1) 0%,
    var(--gradient-2) 100%
  );
  border-radius: 30px 30px 30px 0;
  text-decoration: none;
  color: var(--min-color);
  width: fit-content;
  font-size: 20px;
}
header .container ul li:last-child a:hover {
  color: var(--min-color);
}

.btn1:hover {
  background-image: linear-gradient(
    to right,
    #052b45 0%,
    #052b45 51%,
    #052b45 100%
  );
}
.btn i {
  width: 50px;
  height: 50px;
  background-color: var(--min-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 0 3px 0 12px;
  color: var(--icon);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.btn3:hover i {
  color: var(--min-color);
  background-color: var(--icon);
}

header .container .pag {
  display: none;
  position: absolute;
  left: -20px;
  top: 45px;
  background-color: var(--min-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;
}

header .container .pag.sow {
  display: block;
}
header .container ul.pag li {
  margin: 0;
  width: 100%;
}
header .container ul.pag a {
  display: block;
  color: var(--p-color);
  padding: 12px 80px 12px 20px;
}
header .container ul.pag a:hover ,
header .container ul.pag .activ{
  background-color: var(--hover-contt);
  color: var(--min-color);
}

.all {
  background-image: url(../imgs/banner-background.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.landing .top {
  position: absolute;
  left: -16px;
  top: -14px;
}

.landing .container {
  display: flex;
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  gap: 350px;
  align-items: center;
  z-index: 2;
}

.landing .text {
  color: var(--min-color);
  position: relative;
  z-index: 2;
  max-width: 600px;
}
.landing .text h1 {
  font-size: 55px;
  margin: 0;
}
.landing .text p {
  font-size: 22px;
  line-height: 1.5;
  margin: 20px 0;
}

.landing .img img {
  position: absolute;
  transform: translate(-65%, -37%);
  -webkit-transform: translate(-65%, -37%);
  -moz-transform: translate(-65%, -37%);
  -ms-transform: translate(-65%, -37%);
  -o-transform: translate(-65%, -37%);
}

.info ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

.landing .butom {
  position: absolute;
  left: -2px;
  bottom: -20px;
}
@media (max-width: 1199px) {
  header .container ul a,
  header .container ul .btn {
    font-size: 15px;
  }
  .landing .img img {
    position: absolute;
    transform: translate(-90%, -37%);
    -webkit-transform: translate(-90%, -37%);
    -moz-transform: translate(-90%, -37%);
    -ms-transform: translate(-90%, -37%);
    -o-transform: translate(-90%, -37%);
  }
}

header .container nav .mob {
  color: var(--min-color);
  display: none;
}
@media (max-width: 991px) {
  header .container nav .mob {
    display: block;
  }
  header .container ul:not(.pag) {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -100%;
    top: 130px;
    z-index: 5;
    background-color: var(--min-color);
    width: 60%;
    height: calc(100vh - 130px);
    border-top-right-radius: 8px;
    overflow: hidden;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
  }
  header .container ul:not(.pag).sow {
    left: 0;
  }

  header .container ul li:last-child {
    display: none;
  }
  header .container .pag li:last-child {
    display: block;
  }
  header .container .pag {
    position: relative;
    left: 0px;
    top: 0px;
  }
  header .container ul.pag a {
    padding: 25px 20px;
    color: var(--max-color);
  }

  header .container ul li {
    width: 100%;
    margin: 0;
  }
  header .container ul a {
    color: var(--max-color);
    background-color: var(--min-color);
    padding: 25px 20px;
    position: relative;
    font-size: 20px;
  }
  header .container ul .soh1::after {
    border-color: #262626 transparent transparent transparent;
    position: relative;
    top: 12px;
  }
  header .container ul a:hover {
    background-color: var(--hover-contt);
    color: var(--min-color);
  }
  header .container ul .soh1:hover::after {
    border-top-color: var(--min-color);
  }
  .landing .container {
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    gap: 0;
    left: 0;
    top: 0;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
  }
  .landing .text {
    max-width: 100%;
    text-align: center;
  }
  .info ul {
    justify-content: center;
  }

  .landing .img img {
    position: relative;
    transform: translate(0, 0);
    height: 100%;
    width: 600px;
  }
  .top,
  .butom {
    display: none;
  }
}

@media (max-width: 767px) {
  .btn {
    padding: 4px 2px 4px 30px;
    font-size: 15px;
  }
  .btn i {
    width: 40px;
    height: 40px;
    margin: 0 3px 0 5px;
  }
  .landing .img {
    display: none;
  }

  .landing .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
  }
}

.About {
  padding: var(--padding);
}
.About .container {
  display: flex;
  gap: 150px;
  align-items: flex-start;
}
.About .container .img {
  position: relative;
}

.About .container .img .im-2 {
  position: absolute;
  bottom: -150px;
  right: -110px;
}
.About .container .cont {
  margin-top: 30px;
  color: var(--max-color);
}
.About .container .cont p {
  line-height: 1.7;
  font-size: 19px;
  color: var(--p-color);
}
.About .container .cont h3 {
  color: var(--hover-text);
}
.About .container .cont h1 {
  margin: 10px 0;
  font-size: 47px;
}
.About .container .cont .box {
  margin: 20px 0;
  display: flex;
  gap: 20px;
  align-items: center;
}
.About .container .cont .box h2 {
  margin-bottom: 5px;
}
.About .container .cont .btn {
  margin-top: 10px;
}

@media (max-width: 1199px) and (min-width: 992px) {
  .About .container .cont h1 {
    font-size: 40px;
  }
  .About .container .img .im-1 {
    width: 420px;
  }
  .About .container .img .im-2 {
    width: 250px;
    right: -50px;
  }
  .About .container {
    gap: 70px;
  }
}
@media (max-width: 991px) {
  .About .container,
  .About .container .box {
    flex-direction: column;
    text-align: center;
  }
  .About .container .img,
  .About .container .cont .btn {
    margin: 10px auto;
  }
  .About .container .img .im-1 {
    max-width: 100%;
  }

  .About .container .img .im-2 {
    width: 230px;
    bottom: -94px;
    right: -60px;
  }
  .About .container .cont h1 {
    margin: 10px auto;
    font-size: 30px;
    max-width: 330px;
  }
  .About .container .cont p {
    font-size: 17px;
  }
  .About .container .cont .box .text {
    max-width: 400px;
    font-size: 14px;
  }
}
@media (max-width: 620px) {
  .About .container .img .im-2 {
    width: 200px;
    right: 0;
  }
}

.Services {
  padding: var(--padding);
  background-color: #eafcfe;
  position: relative;
  overflow: hidden;
}
.Services .container {
  display: flex;
  gap: 50px;
  align-items: center;
  position: relative;
}
.Services .r {
  position: absolute;
  left: -100px;
  top: -54px;
}
.Services .container .text {
  flex: 1;
  margin-top: 30px;
  color: var(--max-color);
}

.Services .container .text p {
  line-height: 1.7;
  font-size: 19px;
  color: var(--p-color);
}

.Services .container .text h3 {
  color: var(--hover-text);
}
.Services .container .text h1 {
  margin: 10px 0;
  font-size: 50px;
  padding-right: 80px;
}
.Services .container .text .btn {
  margin-top: 20px;
}
.Services .container .boxs {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 30px;
  width: 100%;
}
.Services .container .boxs .box {
  text-align: center;
  background-color: var(--min-color);
  padding: 20px 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-bottom: 2px solid #249cb3;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.Services .container .t1 {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.Services .container .box .img {
  background-color: #eafcfe;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.Services .container .box .img:hover {
  transform: translateY(-5px);
}

.Services .container .box h2 {
  color: var(--max-color);
  font-size: 23px;
  margin: 10px 0;
}
.Services .container .box p {
  color: var(--p-color);
  line-height: 1.5;
}
.Services .container .box a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--hover-text);
  display: block;
  margin: 10px auto;
}
.Services .container .boxs .box:hover {
  background-image: linear-gradient(
    to right,
    #082e45 0%,
    #17677e 51%,
    #249cb3 100%
  );
  transform: translateY(-5px);
}
.Services .container .boxs .t1:hover {
  transform: translateY(-25px);
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  -o-transform: translateY(-25px);
}
.Services .container .boxs .box:hover p,
.Services .container .boxs .box:hover h2 {
  color: var(--min-color);
}
@media (max-width: 1199px) and (min-width: 992px) {
  .Services .container .boxs {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .Services .container .boxs h2,
  .Services .container .text p {
    font-size: 18px;
  }
  .Services .container .text h1 {
    font-size: 37px;
  }
}

@media (max-width: 991px) {
  .Services .r {
    display: none;
  }
  .Services .container {
    flex-direction: column;
    text-align: center;
  }
  .Services .container .text h1 {
    padding: 0;
    font-size: 37px;
  }
  .Services .container .text .btn {
    margin: 20px auto;
  }
  .Services .container .t1 {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  .Services .container .boxs .t1:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }
}

.br {
  background-image: url(../imgs/choose-background.png);
  background-position: center;
  background-size: cover;
  padding: 160px 0 150px;
  position: relative;
}
.br .top,
.br .butom {
  position: absolute;
  right: 0;
}
.br .top {
  top: 0;
}
.br .butom {
  bottom: 0;
}
.br .container {
  display: flex;
  position: relative;
  z-index: 5;
}

.br .container .img {
  position: relative;
  flex: 1;
}
.br .container .img img {
  position: absolute;
  top: -263px;
  left: -160px;
}
.br .container .text {
  flex: 0.7;
  color: var(--min-color);
}
.br .container .text h3 {
  color: var(--hover-text);
}
.br .container .text h1 {
  font-size: 47px;
  margin: 10px 0;
}
.br .container .text p {
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 20px;
}
.br .container .text ul {
  list-style: none;
}
.br .container .text li {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 19px;
}
.br .container .text li i {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #082e45 0%,
    #17677e 51%,
    #249cb3 100%
  );
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin-right: 10px;
}
.br .container .text a {
  margin-top: 20px;
}
@media (max-width: 1440px) {
  .br .container .img img {
    width: 650px;
    top: -65px;
    left: -25px;
  }
}
@media (max-width: 1199px) {
  .br .container .text {
    flex: 1;
  }
  .br .container .img img {
    width: 520px;
    top: 26px;
    left: -60px;
  }
  .br {
    padding: 100px 0;
  }
}
@media (max-width: 991px) {
  .br {
    padding: 100px 0 0px;
  }

  .br .container {
    flex-direction: column;
    text-align: center;
  }
  .br .container .text li i {
    display: none;
  }
  .br .container .text h1 {
    font-size: 38px;
  }
  .br .container .text a {
    margin: 20px auto;
  }
  .br .container .text {
    order: 1;
  }
  .br .container .img {
    order: 2;
  }
  .br .container .img img {
    position: relative;
    top: 3px;
    left: 0;
  }
}
@media (max-width: 555px) {
  .br {
    padding: 50px 0 0px;
  }
  .br .container .img img {
    max-width: 100%;
  }
  .br .container .text li {
    font-size: 16px;
  }
  .br .container .text h1 {
    font-size: 30px;
  }
  .br .container .text p {
    font-size: 15px;
  }
}

.br2 {
  padding: var(--padding);
  color: var(--min-color);
}
.heding {
  text-align: center;
  color: var(--hover-text);
}
.heding h1 {
  color: var(--max-color);
  font-size: 47px;
  margin: 10px 0 40px;
}

@media (max-width: 767px) {
  .heding h1 {
    font-size: 37px;
  }
}

.br2 .br2-cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.br2 .br2-cont .box {
  position: relative;
}
.br2 .br2-cont .img {
  position: relative;
  width: 100%;
  height: 100%;
}
.br2 .br2-cont img {
  position: relative;
  width: 100%;
  height: 100%;
}
.br2 .br2-cont .text {
  padding: 0 30px;
  position: absolute;
  bottom: 35px;
  z-index: 5;
}

.br2 .br2-cont .text span {
  background-color: #3a4853;
  padding: 5px 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.br2 .br2-cont .text h2 {
  margin: 20px 0;
  line-height: 1.5;
}
.br2 .br2-cont .text i {
  display: flex;
  width: 45px;
  height: 45px;
  background-image: linear-gradient(
    to right,
    #082e45 0%,
    #17677e 51%,
    #249cb3 100%
  );
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.br2 .br2-cont .box:hover {
  border-radius: 30px;
  background-image: linear-gradient(to right, #06243b 0%, #36e0f7 100%);
}
.br2 .br2-cont .box:hover img {
  opacity: 0.4;
}
.br2 .br2-cont .box:hover i {
  background-image: linear-gradient(
    to right,
    #ffffff 0%,
    #ffffff 51%,
    #ffffff 100%
  );
  color: var(--hover-text);
}
.br2 a {
  margin: 50px auto 0;
}

.testlmon {
  padding: var(--padding);
  background-color: #eafcfe;
  position: relative;
  overflow: hidden;
}
.testlmon .container {
  position: relative;
  z-index: 2;
}
.testlmon .ss {
  margin: 50px 0 80px;
}
.test-cont .box {
  display: flex;
  justify-content: center;
}
.test-cont .box .b1 {
  display: flex;
  background-color: var(--min-color);
  padding: 60px;
  justify-content: end;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  position: relative;
  width: 80% !important ;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  border: 1px solid var(--min-color);
  border-bottom: 2px solid #249cb3;
}
.test-cont .box .text {
  width: 80%;
}
.test-cont .box p {
  color: var(--max-color);
  line-height: 1.7;
  font-size: 22px;
}
.test-cont .box h3 {
  color: var(--hover-text);
  margin: 20px 0 10px;
}
.test-cont .box span {
  color: var(--p-color);
}
.test-cont .img {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: -80px;
}
.test-cont .img .im {
  background-image: linear-gradient(
    to right,
    #082e45 0%,
    #17677e 51%,
    #249cb3 100%
  );
  border-radius: 100px;
  height: 64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: -32px;
}

.ss .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  right: 0;
  z-index: 5;
}
.ss .icon i {
  width: 60px;
  height: 60px;
  background-color: var(--gradient-1);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--min-color);
  position: relative;
  right: 86px;
  margin: 15px 0;
  cursor: pointer;
}
.ss .icon i:hover {
  background-image: linear-gradient(
    to right,
    #082e45 0%,
    #17677e 51%,
    #249cb3 100%
  );
}
@media (max-width: 1199px) {
  .test-cont .box p {
    font-size: 20px;
  }
  .test-cont .img img {
    width: 200px;
  }
  .test-cont .img .im img {
    width: 30px;
  }
  .test-cont .img {
    left: -60px;
  }
  .ss .icon i {
    right: 66px;
  }
}
.testlmon .r {
  position: absolute;
  right: -100px;
  top: -54px;
}
@media (max-width: 991px) {
  .test-cont .img {
    display: none;
  }
  .test-cont .box .b1 {
    padding: 20px 5px;
    justify-content: center;
  }
  .test-cont .box p {
    font-size: 16px;
  }
  .ss .icon i {
    right: 46px;
  }
  .testlmon .r {
    display: none;
  }
}

.testlmon ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.testlmon ul img {
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.testlmon ul img:hover {
  filter: brightness(0.2);
  transform: translateY(-5px);
}
@media (max-width: 676px) {
  .ss .icon {
    display: none;
  }
  .test-cont .box .b1 {
    width: 100% !important;
  }
  .testlmon ul {
    gap: 30px;
  }
}

.faq {
  padding: var(--padding);
}
.faq .container {
  display: flex;
  gap: 100px;
  align-items: start;
}
.faq .container .cont {
  color: var(--max-color);
}
.faq .container .cont h3 {
  color: var(--hover-text);
}
.faq .container .cont h1 {
  font-size: 47px;
  margin: 10px 0 40px;
}
.faq .container .cont .pags {
  position: relative;
  padding: 0 20px;
  box-shadow: 1px 1px 70px rgba(95 208 243 / 21%);
  border-radius: 25px;
  background-color: var(--min-color);
  margin-bottom: 20px;
  cursor: pointer;
}
.faq .container .cont .pa {
  height: 0;
  display: flex;
  align-items: center;
  border-radius: 25px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  overflow: hidden;
}
.faq .container .cont .pa.sow {
  height: 100px;
}
.faq .container .cont .pa::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 25px;
  border-bottom: 2px solid #249cb3;
  top: 0;
  left: 0;
  z-index: -1;
}
.faq .container .cont .pa.sow1::before {
  width: 100%;
  height: 100%;
}
.faq .container .cont .pa p {
  font-size: 18px;
  line-height: 1.5;
  color: var(--p-color);
  padding-left: 15px;
  border-left: 3px solid var(--gradient-2);
}
.faq .container .cont .pags h2 {
  font-weight: normal;
}
.faq .container .cont .pags .hed {
  padding: 20px 0;
}
.faq .container .cont .pags .hed::before {
  font-family: "font awesome 5 free";
  content: "\2b";
  font-weight: 900;
  position: absolute;
  right: 20px;
  width: 48px;
  height: 48px;
  background-image: linear-gradient(
    to right,
    var(--gradient-1) 0%,
    var(--gradient-2) 100%
  );
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--min-color);
  font-size: 20px;
  top: 8px;
}
.faq .container .cont .pags .hed.sow::before {
  content: "\f068";
}

.faq .container form {
  position: relative;
  text-align: center;
  padding: 30px 20px 50px;
  border-radius: 25px;
  border-bottom: 2px solid #249cb3;
  background-color: var(--min-color);
}
.faq .container form h1 {
  font-size: 37px;
  color: var(--max-color);
  margin: 10px 0;
}
.faq .container form p {
  font-size: 19px;
  color: var(--p-color);
  line-height: 1.5;
}
.faq .container form .input {
  display: flex;
  flex-direction: column;
  margin: 30px 0 15px;
}
.faq .container form input,
.faq .container form textarea {
  padding: 15px 22px;
  outline: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid #dae7fb;
  box-shadow: 1px 1px 57px rgba(95 208 243 / 7%);
  margin-bottom: 20px;
  color: var(--max-color);
}
.faq .container form textarea {
  height: 130px;
}
.faq .container form button {
  outline: none;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  padding: 4px 2px 4px 30px;
}
.faq .container form .img {
  position: absolute;
  right: -15px;
  top: -24px;
  z-index: -1;
}
@media (max-width: 1199px) and (min-width: 992px) {
  .faq .container .cont .pags h2 {
    font-size: 20px;
  }
  .faq .container {
    gap: 50px;
  }
  .faq .container .cont .pa p {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .faq .container {
    flex-direction: column;
  }
  .faq .container form .img {
    display: none;
  }
  .faq .container .cont h3,
  .faq .container .cont h1 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .faq .container .cont h1 {
    font-size: 37px;
  }
}

@media (max-width: 555px) {
  .faq .container .cont .pags h2 {
    font-size: 15px;
  }
  .faq .container .cont .pags .hed::before {
    width: 35px;
    height: 35px;
    right: 15px;
    top: 12px;
  }
  .faq .container .cont .pa p {
    font-size: 15px;
  }
}

footer {
  padding-top: 100px;
  background-image: url(../imgs/footer-background.png);
  background-size: cover;
  background-position: center;
  position: relative;
  color: var(--min-color);
  overflow: hidden;
}
footer .top {
  position: absolute;
  left: -16px;
  top: -14px;
}

footer .fot-cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
  position: relative;
  padding-bottom: 80px;
}
footer .fot-cont ul {
  list-style: none;
}
footer .fot-cont ul a {
  text-decoration: none;
  color: var(--min-color);
}
footer img {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
footer .fot-cont .text p {
  margin: 10px 0;
  font-size: 15px;
  line-height: 1.7;
}
footer .fot-cont .text ul {
  display: flex;
  gap: 10px;
}
footer .fot-cont .text ul a {
  width: 45px;
  height: 45px;
  border: 1px solid #404e60;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  background-color: #02122a;
}
footer .fot-cont .text ul a:hover {
  background-image: linear-gradient(
    to right,
    var(--gradient-1) 0%,
    var(--gradient-2) 100%
  );
  border: 1px solid #17677e;
  transform: translateY(-5px);
}
footer .fot-cont h2 {
  margin-bottom: 20px;
}
footer .fot-cont div:not(.text) li {
  padding: 8px 0;
}
footer .fot-cont div:not(.text) li a {
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  font-size: 17px;
}
footer .fot-cont div:not(.text, .pag) li a::before {
  font-family: "font awesome 5 free";
  content: "\f105";
  font-weight: 900;
  margin-right: 10px;
  position: relative;
  top: 1px;
  font-size: 15px;
}

footer .fot-cont div:not(.text) li a:hover {
  color: var(--hover-text);
}
footer .fot-cont div:not(.text, .pag) li a:hover {
  letter-spacing: 1px;
}

footer .fot-cont .pag li a,
footer .fot-cont .pag li span {
  margin-left: 10px;
}
footer .fot-cont .pag i {
  color: var(--hover-text);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
footer .fot-cont .pag i:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
footer .foot {
  border-top: 1px solid #2b465e;
  padding: 20px 0;
  text-align: center;
}
@media (max-width: 1199px) {
  footer .link2 {
    display: none;
  }
}
@media (max-width: 991px) {
  footer .fot-cont {
    display: flex;
    flex-direction: column;
  }

  footer .fot-cont .text p {
    font-size: 20px;
  }
  footer .foot {
    font-size: 13px;
  }
}
